<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sale360{% endblock %}</title>
    <!-- Agrega aquí tus estilos CSS o enlaces a frameworks como Bootstrap -->
</head>
<body>
    <header>
        <!-- Cabecera común -->
    </header>

    <main>
        {% block content %}
        <!-- Contenido específico de cada página -->
        {% endblock %}
    </main>

    <footer>
        <!-- Pie de página común -->
    </footer>
</body>
</html>
