
{% load static %}  <!-- Cargar la biblioteca de etiquetas estáticas -->

<!--{% block title %}Login - {% endblock %}-->

{% block content %}
<style>
    :root {
        --primary: #000000;
        --primary-light: #22211F;
        --primary-disabled: #363435;
        --primary-lighter: #454344;
        --secondary: #1D1D1D;
        --text: #11181C;
        --text-gray: #687076;
        --text-placeholder: #8890A7;
        --border: #DFE3E6;
        --btn-bg: #EDEDED;
        --input-bg: #F1F2F3;
        --background: #F8F8FF;
        --error: #e5484d;
    }

    html {
        height: 100%;
    }

    body {
        font-family: 'Poppins', sans-serif;
        height: 100%;
        padding: 1rem;
        display: grid;
        place-items: center;
        background: var(--background);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    *::selection {
        background: var(--primary-light);
        color: white;
    }

    .socials-row {
        display: flex;
    }

    .socials-row img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .socials-row>a {
        padding: 0.5rem;
        border-radius: 0.5rem;
        width: 100%;
        min-height: 2.75rem;
        display: flex;
        gap: 0.75rem;
        color: var(--text);
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1.1rem;
        color: var(--text);
        padding: 0.5rem;
        border: 1px solid var(--border);
        transition: all .3s ease;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
    }

    .socials-row>a svg {
        color: var(--text)
    }

    .socials-row>a:hover {
        background-color: var(--btn-bg);
    }

    .form-welcome-row {
        margin-bottom: 1rem;
    }

    .form-welcome-row h1 {
        color: var(--text);
        font-size: 2rem;
        line-height: 2rem;
        font-weight: normal;
        margin-top: 2rem;
        margin-bottom: 0.75rem;
    }

    .form-welcome-row h2 {
        color: var(--text-gray);
        font-size: 1.10rem;
        font-weight: normal;
    }

    .divider {
        display: flex;
        flex-direction: row;
        color: var(--secondary);
        gap: 1rem;
        align-items: center;
    }

    .divider-line {
        width: 100%;
        height: 1px;
        background: var(--secondary);
        opacity: .2;
    }

    .form-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        gap: 1rem;
        max-height: 200rem;
        height: 100%;
        width: 100%;
        animation: animacion2 1s ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }

    .form-side {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
    }

    .logo {
        height: 4rem;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }

    .my-form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;
        gap: 1.25rem;
        max-width: 26rem;
        width: 100%;
    }

    .my-form__button {
        background: var(--primary);
        border: 1px solid var(--primary-light);
        color: white;
        white-space: nowrap;
        display: grid;
        place-items: center;
        margin-top: 1.5rem;
        line-height: 2.75rem;
        outline: none;
        border: none;
        font-size: 1.125rem;
        cursor: pointer;
        width: 100%;
        border-radius: 0.5rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
        transition: all .3s ease;
    }

    .my-form:invalid .my-form__button {
        pointer-events: none;
        background: var(--primary-disabled);
        border: 1px solid var(--primary-light);
    }

    .my-form__actions {
        display: flex;
        flex-direction: column;
        color: var(--secondary);
        gap: 1rem;
        margin-top: 0.5rem;
    }

    .my-form__actions a {
        color: var(--text);
    }

    .my-form__actions a:hover {
        color: var(--text-gray);
        text-decoration: underline;
    }

    .my-form__row {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .text-field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .text-field input {
        color: var(--secondary);
        max-width: 100%;
        width: 100%;
        border: 1px solid var(--border);
        min-height: 3rem;
        letter-spacing: .03rem;
        outline: none;
        background: var(--input-bg);
        transition: .25s;
        border-radius: 0.5rem;
        text-indent: 1.25rem;
    }

    .text-field label {
        color: var(--text);
    }

    .text-field input:user-invalid {
        background: var(--white);
        color: var(--error);
        border: 1px solid var(--error);
    }

    .error-message {
        display: none;
    }

    .text-field input:user-invalid~.error-message {
        display: block;
        margin-top: 0.25rem;
        font-size: 0.8rem;
        color: var(--error);
    }

    .text-field input:focus {
        border: 1px solid var(--text);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
    }

    /* aside */
    .info-side {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 2rem;
        background: url('../assets/background.jpg') repeat center center;
        background-size: cover;
        max-height: 90rem;
    }

    .info-side .blockquote-wrapper {
        gap: 1rem;
        position: relative;
        padding: 1rem;
        max-width: 25rem;
        background: white;
        border-radius: 1rem;
    }

    .info-side .blockquote-wrapper img {
        width: 100%;
        max-width: 100%;
        border-radius: 1rem;
    }

    .info-side .blockquote-wrapper blockquote {
        margin-bottom: 1rem;
        width: 100%;
        font-size: 1rem;
    }

    .info-side .author {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        align-items: center;
    }

    .info-side .author img {
        border-radius: 50%;
        width: 2.75rem;
        height: 2.75rem;
    }

    .info-side .author-name {
        font-weight: 600;
        color: var(--text);
    }

    .error-message {
    display: none;  /* Oculta el mensaje de error por defecto */
    margin-top: 0.25rem;
    font-size: 0.8rem;
    color: var(--error);
    }

    input:invalid ~ .error-message {
        display: block;  /* Muestra el mensaje de error cuando el campo es inválido */
    }

    @media (max-width: 720px) {
        .form-wrapper {
            grid-template-columns: 1fr;
        }

        .info-side {
            display: none;
        }
    }

    @keyframes animacion2 {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<div class="form-wrapper">
    <main class="form-side">
        <a href="#" title="Logo">
            <img src="{% static '/images/logo.jpg' %}" alt="Laplace Logo" class="logo">
        </a>
        <form class="my-form" method="POST" action="{% url 'login' %}">
    {% csrf_token %}
                <div class="form-welcome-row">
                <h1>!Sale360 System! &#128079;</h1>
                <h2>¡Inicia sesión como administrador o de empleado!</h2>
            </div>
            <div class="divider">
                <div class="divider-line"></div>
                o
                <div class="divider-line"></div>
            </div>
    <div class="text-field">
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username" autocomplete="off" placeholder="Tu Usuario" required>
        <div class="error-message">Nombre de usuario incorrecto</div>
    </div>
    <div class="text-field">
        <label for="password">Contraseña</label>
        <input
            id="password"
            type="password"
            name="password"
            placeholder="Tu Contraseña"
            title="Mínimo 6 caracteres, al menos 1 letra, 1 número y 1 símbolo"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{6,}$"
            required
            oninput="validatePassword(this)"
        >
        <div class="error-message" id="password-error">Mínimo 6 caracteres, al menos 1 letra, 1 número y 1 símbolo</div>
    </div>
    <button class="my-form__button" type="submit">Iniciar Sesión</button>
    <div class="my-form__actions">
                <div class="my-form__row">
                    <span>No eres usuario?</span>
                    <a href="{% url 'register' %}" title="Registrate">
                        Registrarse Ahora
                    </a>
                </div>
            </div>
</form>
    </main>
    <aside class="info-side">
        <div class="blockquote-wrapper">
            <img src="{% static '/images/banner2.png' %}" alt="Returns" class="returns">
            <blockquote>
                ¡Gestiona tu Negocio al instante!
            </blockquote>
            <div class="author">
                <img src="{% static '/images/yo.jpg' %}" alt="Avatar" class="avatar">
                <span class="author-name">@mrgomez.dev</span>
            </div>
        </div>
    </aside>
</div>
{% endblock %}
<script>
    function validatePassword(input) {
        const errorMessage = document.getElementById('password-error');
        const password = input.value;

        // Expresiones regulares para validar los requisitos
        const hasLetter = /[A-Za-z]/.test(password);
        const hasNumber = /\d/.test(password);
        const hasSymbol = /[\W_]/.test(password);
        const hasMinLength = password.length >= 6;

        // Mensajes de error
        let messages = [];
        if (!hasLetter) messages.push("Falta al menos una letra");
        if (!hasNumber) messages.push("Falta al menos un número");
        if (!hasSymbol) messages.push("Falta al menos un símbolo");
        if (!hasMinLength) messages.push("Mínimo 6 caracteres");

        // Mostrar u ocultar el mensaje de error
        if (messages.length > 0) {
            errorMessage.textContent = messages.join(", ");
            errorMessage.style.display = 'block';
        } else {
            errorMessage.style.display = 'none';
        }
    }
</script>
