<!-- system_sales_order/templates/lista_presupuestos.html -->
<div>
    <h1>Lista de Presupuestos</h1>
    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Cliente</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for presupuesto in presupuestos %}
            <tr>
                <td>{{ presupuesto.numero }}</td>
                <td>{{ presupuesto.cliente }}</td>
                <td>{{ presupuesto.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
